body {
  background: #0b3747 
url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.facebook.com%2Fgroups%2F6278423458911912%2F&psig=AOvVaw1_XK23Gc_QP1Qb7wnJGeuZ&ust=1724676948141000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCKi0ubqYkIgDFQAAAAAdAAAAABAE') no-repeat center center/cover;
  color: rgba(255,255,255,0.87);
  font-family: "PT Sans Narrow", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
   

}

#image-container {
  display: none;
}

#image-container img{
  width: 300px;
  height: 200px;
 
  
}
